/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
header {
	margin-top: 25px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 12px;


}

ul#leftnav {
	margin-left: 40px;
	color: #999;
	float: left;

}


ul#rightnav {
	display: inline;
	float: right;
	text-decoration: none;
}


ul#rightnav li {

    display: inline;
	float: left;
	margin-right: 40px;
	text-decoration: none;

}

ul#rightnav li a {
	text-decoration: none;
	color:;
}

ul#rightnav li a {
	color: #6699cc;
}

li a#signin:active {
	color: #18afe0;
}

ul#rightnav li a:hover {
	color: #6699cc;	
}

ul#rightnav li a:visited {
	color: #369;
}

#logo {
	display: block;
	margin: 200px auto 0 auto;
	width: 164px;
	clear: both;
	padding-top: 50px;
	
}

#mainheader {
	margin: 15px auto 0 auto;
	text-align: center;
	color: black;
	font-size: 58px;
	font-weight: semi-bold;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	letter-spacing: -2px;
		
}

h2 {
	text-align: center;
	color: black;
	font-size: 20px;
	font-weight: semi-bold;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	padding-top: 27px;
	
}

.imagetrio {

	margin: 12px auto;
	width: 700px;
	text-align: center;

	
	
}

#box1 {
	width: 160px;
	height: 220px;
	margin: 20px 20px 5px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #efefef;
	-moz-box-shadow: 0 0 5px #efefef;
	box-shadow: 0 0 5px #efefef;
	padding: 20px 10px 10px;
	text-decoration: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
	background: -moz-linear-gradient(top, #fff, #efefef);
	display: inline-block;

	
}

#box2 {
	width: 160px;
	height: 220px;
	margin: 20px 20px 5px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #efefef;
	-moz-box-shadow: 0 0 5px #efefef;
	box-shadow: 0 0 5px #efefef;
	padding: 20px 10px 10px;
	text-decoration: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
	background: -moz-linear-gradient(top, #fff, #efefef);
	display: inline-block;
}

#box3 {
	width: 160px;
	height: 220px;
	margin: 20px 20px 5px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #efefef;
	-moz-box-shadow: 0 0 5px #efefef;
	box-shadow: 0 0 5px #efefef;
	padding: 20px 10px 10px;
	text-decoration: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
	background: -moz-linear-gradient(top, #fff, #efefef);
	display: inline-block;
}

#mountain {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#highrise {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#campfire {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

sup {
	font-size: 9px;
	vertical-align: super;
	text-decoration: none;
}

.boxheader {
	text-align: center;
	font-size: 20px;
	text-decoration: underline;
	color: #369;
	font-weight: bold;
	font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
	padding-top: 10px;
	display: block

}

h4 {
	color: #cc0000;
	font-size: 14px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	margin-top: 15px;
	font-weight: bold;
}

h5 {
	font-family:font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 14px;
	margin-top: 15px;
	line-height: 20px;
}

#asterix {
	padding-top: 50px;
}
